@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root { --primary-color: #2b3496; --font-color: #e0e0e0; --detail-color: #FF6C22; }
* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: 'Press Start 2P', sans-serif;
  color: var(--font-color);
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(to right top, #292f36, #23292f, #1e2228, #181c21, #13161a);
}

section.screen{ display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; width: 100vw; transition: margin 0.5s ease-out; }
section.screen.up{margin-top:-100vh}
section.screen.game-container{position: relative;}

section.screen .btn{ border: 0; background-color: var(--detail-color); box-shadow: 0 0 5px var(--detail-color), 0 0 5px var(--detail-color); color: #1e2228; padding: 15px 20px; font-family: inherit; cursor: pointer; font-weight: bold; border-radius: 5px; outline: 0; }
section.screen .btn:hover{opacity: 0.9;}

section.screen .title{line-height: 1.4; margin: 5px 0;}

section.screen .insects-list{display: flex; flex-wrap: wrap; justify-content: center;list-style-type: none; padding: 0;}
section.screen .insects-list .list-item{margin: 10px;}
section.screen .insects-list .list-item .choose-insect-btn{ background-color: transparent;border: 2px solid var(--primary-color); color: var(--font-color);cursor: pointer; font-family: inherit; width: 150px; height: 150px; border-radius: 5px; box-shadow: 0 0 5px var(--primary-color), 0 0 5px var(--primary-color); }
section.screen .insects-list .list-item .choose-insect-btn:hover{ background-color: var(--primary-color);}
section.screen .insects-list .list-item .choose-insect-btn:active{ background-color: rgba(43, 52, 150, 0.7); }
section.screen .insects-list .list-item .choose-insect-btn .image{ width: 100px; height: 100px; object-fit: contain; }

section.screen .time,
section.screen .score{position: absolute;top: 20px;}
section.screen .time{left: 20px;}
section.screen .score{right: 20px;}
section.screen .message{line-height: 1.7;background-color: rgba(0, 0,0, 0.4);width: 100%; padding: 20px; z-index: 100; text-align: center; opacity: 0; position: absolute;top: 0; left: 50%; transform: translate(-50%, -150%);transition: transform 0.4s ease-in; font-weight: lighter; color: var(--detail-color); box-shadow: 0 0 5px var(--detail-color), 0 0 5px var(--detail-color); }
section.screen .message.visible{opacity: 1;transform: translate(-50%, 150%);}
section.screen .insect{display: flex; align-items: center;justify-content: center; width: 100px; height: 100px; position: absolute; transform: translate(-50px, -50%) scale(1); cursor: pointer;transition:  transform 0.3s ease-in-out;}
section.screen .insect.caught{transform: translate(-50px, -50%) scale(0);}
section.screen .insect .insect-img{ width: 100px; height: 100px; }